.App {
  text-align: center;
}

.app-content {
  margin: 50px;
}

.question-page, .new-question, .dashboard, .login-wrapper, .leader-board {
  width: 500px;
  margin: auto;
}

.login-wrapper {
  border: 2px solid  #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-select-form {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.leader-board-user {
  border: 2px solid  #f0f0f0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.leader-board-user > div {
  display: flex;
}

.leader-board-user-info {
  margin-left: 10px;
  margin-right: 10px;
}

.leader-board-user-score {
  display: flex;
  flex-direction: column;
}

.login-select-form select, .login-select-form button {
  width: 95%;
  height: 35px;
  margin-bottom: 30px;
  font-size: 1.05em;
  font-weight: bold;
  text-align: center;
}
.question {
  border: 3px solid  #f0f0f0;
  margin: 15px;
  padding: 10px;

}

#logo {
  background-image: url(../pics/logo.jpg);
  height: 200px;
  width: 200px;
}

img {
  width: 120px;
}

.question-content {
  display: flex;
}

.question-content > div {
  margin-top: 15px;
  margin-left: 15px;
}

.question p {
  font-weight: bold;
  font-size: 1.05em;
}

ul {
  list-style-type: none;
  margin: 0;
}

.question-answered-option {
  border: 2px solid  #f0f0f0;
  padding: 5px;
  margin-bottom: 5px;
}

.question-answered-option > p {
  font-weight: bold;
}

.question-title {
  font-size: 1.1em;
  font-weight: bold;
  background-color:  #f0f0f0;
  padding: 7px;
}

.nav {
  background-color: #f0f0f0;
  height: 50px;
  width: 100%;
}

.nav-list {
  display: flex;
  background-color: #f0f0f0;
  width: 100%;
}

.nav-list li {
  padding-left: 20px;
  padding-top: 15px;
}

.nav-list-logout {
  align-self: flex-end;
}

.App-link {
  color: #61dafb;
}