.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dashboard {
  /* border: 2px solid red; */
  width: 500px;
  margin: auto;
}

.question-page, .new-question {
  width: 500px;
  margin: auto;
}


img {
  width: 120px;
}

.question {
  border: 3px solid lightgray;
  margin: 15px;
  padding: 10px;

}

.question-content {
  display: flex;
}

.question-content > div {
  margin-top: 15px;
  margin-left: 15px;
}

.question p {
  font-weight: bold;
  font-size: 1.05em;
}

ul {
  list-style-type: none;
}

.question-answered-option {
  border: 2px solid lightgray;
  padding: 5px;
  margin-bottom: 5px;
}

.question-answered-option > p {
  font-weight: bold;
}

.question-title {
  font-size: 1.1em;
  font-weight: bold;
  background-color: lightgray;
  padding: 7px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
