#root {
  margin-top: -18px;
}

.question-page,
.new-question,
.dashboard,
.login-wrapper,
.leader-board {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.new-question {
  border: 2px solid #f0f0f0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}

textarea {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.new-question button {
  margin-top: 20px;
  width: 100%;
  height: 25px;
  font-weight: bold;
}

.login-wrapper {
  border: 2px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-select-form {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.leader-board-user {
  border: 2px solid #f0f0f0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.leader-board-user > div {
  display: flex;
}

.leader-board-user-info {
  margin-left: 10px;
  margin-right: 10px;
}

.leader-board-user-score {
  display: flex;
  flex-direction: column;
}

.login-select-form select,
.login-select-form button {
  width: 95%;
  height: 35px;
  margin-bottom: 30px;
  font-size: 1.05em;
  font-weight: bold;
  text-align: center;
}

#logo {
  background-image: url(../pics/logo.jpg);
  height: 200px;
  width: 200px;
}

img {
  width: 120px;
}

.question-content {
  display: flex;
}

.question-content > div {
  margin-top: 15px;
  margin-left: 15px;
}

ul {
  list-style-type: none;
}

.question-answered-option {
  border: 2px solid #f0f0f0;
  padding: 5px;
  margin-bottom: 5px;
}

.selected-option {
  border-color: rgb(135, 206, 250);
  background-color: rgb(205, 235, 253);
}

.question {
  border: 2px solid #f0f0f0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 7px;
}

.question p {
  font-weight: bold;
  font-size: 1.05em;
}

.question-title {
  font-size: 1.1em;
  font-weight: bold;
  background-color: #f0f0f0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.question button {
  height: 25px;
  font-weight: bold;
  background-color: #f0f0f0;
  width: 100%;
}

.question-overview-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5px;
  min-height: 150px;
  width: 100%;
}

.dashboard > div {
  margin-top: 30px;
  margin-left: 38px;
}

#answeredButton {
  width: 50%;
  height: 25px;
  background-color: #f0f0f0;
}

#unansweredButton {
  width: 50%;
  height: 25px;
  background-color: #f0f0f0;
}

.nav {
  background-color: #f0f0f0;
  height: 50px;
}

.nav-list {
  display: flex;
  background-color: #f0f0f0;
  text-align: end;
}

.nav-list li {
  padding-left: 20px;
  padding-top: 15px;
}

.nav-list-user {
  flex-grow: 2;
}

.nav-list-logout {
    margin-right: 30px;
}

.question-not-found {
  margin-top: 10%;
  font-size: 1.2em;
  text-align: center;
}